body, html{
  padding: 0;
  margin: 0;
}

body{
  font-family: arial, verdana, sans-serif;
}

a, a:hover{
  text-decoration: none;
}

.container-fluid{
  padding: 0;
}

.separateur{
  height: 4px;
  width: 12%;
  border: none;
  box-shadow: none;
  background-color: #00ACFF;
}


/* header*/

.header{
  background-color: #00ACFF;
  height: 80px;
  line-height: 80px;
 }

.logo{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
}

.menu {
  float: right;
}

.menu a{
  color: #ffffff;
  font-weight: bold;
  margin-right: 30px;
}

.menu a:hover {
  color: blue;
}

/*bannière*/

.banner {
  width: 100%;
  max-width: 100%;
}

.ban {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.ban img{
  width: 100%;
  max-width: 100%;
}

.inner-banner {
  position: absolute;
  top:50%;
  width: 100%;
  text-align: center;
}

.inner-banner h1 {
  color: #0CDAE8;
  font-weight: bold;
  text-shadow: 1px 1px 30px #000000;
}

.inner-banner .btn-custom {
  background-color: #00ACFF;
  color: #ffffff;
}

.inner-banner .btn-custom:hover{
  background-color: #2C3E50;
}

/*about*/

#about{
  text-align: center;
  padding-top: 50px;
}


.about article h2{
  text-align: center;
}

/*about*/

.portfolio {
  background-color: #eeeeee;
  height: 800px;
  padding: 40px;
  text-align: center;

}

#portfolio {
  text-align: center;
}

.portfolio .item-folio {
  height: 50px;
  background-color: #3498DB;
}


/*Formulaire contact*/

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}

.get-in-touch .title{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #5543ca;
  background-color: #5543ca;
  background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36%;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}

contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}

.Contacte-fom .label{
  position: absolute;
  left: 20px
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
 cursor: text;
 transition: -webkit-transform .2s ease-in-out;
 transition: transform .2s ease-in-out;
 transition: transform .2s ease-in-out,
 -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
  }


/*Réseaux sociaux*/
